{% extends 'base.html' %}
{% block title %}MAP SHOP{% endblock %}
{% block content %}

  <h1>Please Login</h1>
  {% if user and not user.is_anonymous %}

    
    <a>Hello {{ user.get_full_name|default:user.username }}!</a>
    <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
  {% else %}
	<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary" role="button">FB</a>
  {% endif %}

{% endblock %}
