<!DOCTYPE html>
<html lang="en">
<head>
  <title>HOME</title>
</head>
<body>
  <h1>Home</h1>
  {% if user and not user.is_anonymous %}

    <a>Hello {{ user.get_full_name|default:user.username }}!</a>
    <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> Login</a>
  {% endif %}
</body>
</html>