body {
    background-color: black;
}
h1{
    color: rgb(92, 37, 255);//black;#990000;
    display: block;
    font-family:Ubuntu;
    font-size:5em;
    font-weight:100;
    
}

h2{
    color: red;
    font-family:Ubuntu;
    font-size:3em;
}


.box-container{

    /*background-color: white;*/
    text-align: center;
    display: inline-block;

    padding-top:20px;
    width: 1155px;
    margin: 0 auto 0 auto;

}

.img-product-item {
    width:342px;
    height:342px;
    border-radius: 5px;

}
.box{    
    box-shadow: 0 0 15px grey;
    border-radius: 5px;
    background-color:#404040 ;
    width: 342px;
    height: 530px;
    text-align: left;
    display: inline-block;
    /*margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;*/
    margin: 10px;
}
.box-product-name{
    position: relative;
    left: 10px;
    top: 10px;
    color: white;
    font-family: Impact; 
    font-size: 40px;
    font-weight: 200px;
}
.box-product-price{
    position: relative;
    
    padding-right: 22px;
    text-align: right;

    top: -5px;
    color: red;
    font-family:Impact;
    font-size:40px;
    font-weight:100;
}
.cart-button{
    /*background:green#3cb0fd;*/
    position: relative;
    top:0px;
    left:220px;
   /* font-family:impact;*/
}
.cart-button:hover{
    background:#f23e02;
    color:white
}
.buy-button{
    background:#3cb0fd;
    position:relative;
    top:0px;
    left:130px;
}
.buy-button:hover{
    background:#f23e02;
    color:white
}
.status{
    color:#C0C0C0;
    position: relative;
    font-size:20px;
    top:-0px;
    left:12px;
}
a
{
    text-decoration:None;
}
a:hover
{
    text-decoration:None;
    color:#f23e02;
}


.xxx {
    font-family: Arial;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
.xxx:hover {
  text-decoration: none;
    color:black
}

