{% for c,brand in cat %}
    <li role="presentation" class="dropdown-submenu">
        <a role="menuitem" tabindex="-1" href="/product/list/?Category={{c.name}}">{{c.name}}</a>
        <ul class="dropdown-menu">
            {% for b in brand %}
                <li><a tabindex="-1" href="/product/list/?Category={{c.name}}&Brand={{b.name}}">{{b.name}}</a></li>
            
            {% empty %}
                <li><a tabindex="-1" href="#">Nothing Here</a></li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}