{% extends 'base.html' %}
{% load static %}
{% block title %}Item detailed{% endblock %}
{% block extra_head %}

	<meta content="charset=utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<!-- Demo CSS -->
	<link rel="stylesheet" href="{% static 'css/demo.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<!-- Modernizr -->
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>

	<style>
	/*body{background-color: black;}*/
	p {font-family:Ubuntu; color: black;}
	.nui {
		text-align: center; 
	}
	.nui .aside { position: relative; display: inline-block; margin: 20px 20px 20px 20px; padding-top: 5px; padding-bottom: 5px; text-align: left;}
	.nui .flexslider{ position: relative; display: inline-block; width: 350px; vertical-align: top; margin: 20px 20px 20px 20px;}
	.nui .flexslider img{ width: 350px; height: 342px; }
	.nui #detail { color: black;}
	.nui #upper { margin: 25px 0px 38px 0px; }
	.nui #upper p:nth-child(1) { color:#f23e02; font-size:55px; margin:15px 0px 15px 0px;}
	.nui #upper p:nth-child(2) { color:grey; margin:20px 0px 15px 3px; font-size: 25px; }
	.nui #middle { margin: 65px 0px 45px 0px; }
	.nui #middle #price { color:#f26b3e; font-family:Ubuntu; font-size:45px; margin:60px 0px 15px 0px; }
	.nui #middle table { margin: 16px 0px 15px 10px; }
	.nui #middle table p{ margin: 5px 5px 0px 12px; font-family: Ubuntu; }
	.nui #middle table #subj{ color:grey;  }
	.nui #lower { margin: 45px 20px 20px 35px;}
	.nui #lower button { margin: 0px 5px 0px 5px;}
	.nui .btm-part{}
	.nui #nuipill { position: relative; margin: 50px 50% 0px 50%; }
	.nui #nui-tab-content {position: relative; padding: 20px 20px 20px 20px;	} 
	.des-img {
		width: 1115px;
		height: auto;
	}
	.flexslider
	{
		border: 4px solid black;#ECE9E9;
	}
	</style>
{% endblock %}
{% block content %}
<div class="nui">
      <div class="top-part">


	<div class="flexslider">
	  <ul class="slides">
	    <li><img src="{{item.main_image}}"/></li>
	    {% for img in item.img.all %}
	    	<li><img src="{{img.img}}"/></li>
	    {% endfor %}
	  </ul>
	</div>


	<div class="aside">
	  <ul style="list-style-type:none">

	    <li id="upper">
	      <p>{{item.name}}</p>
	      <p>{{item.brand}}</p>	
	    </li>

	    <li id="middle">
	      <p id="price">$THB{{item.price}}</p>
	      <table>
		<tr><td style="text-align:right"><p id="subj">Price :</p></td><td><p id="detail">$THB{{item.price}}</p></td></tr>
		<tr><td style="text-align:right"><p id="subj">You Saved :</p></td><td><p id="detail">$THB0.00</p></td></tr>
		<tr><td style="text-align:right"><p id="subj">Stock :</p></td><td><p id="detail">
		{% if item.stock > 0 %}
			Now Available
		{% else %}
			Out of Stock
		{% endif %}
		
		</p></td></tr>
	      </table>
	    </li>

	    <li id="lower">

          {% if item.stock > 0 %}
             <button type="button" class="btn btn-success" onclick="add_to_cart({{item.id}})" >Add To Cart<span class="glyphicon glyphicon-shopping-cart"></span></button>
         {% else %}
            <button class="btn btn-danger">Out of Stock</button>
         {% endif %} 
	    </li>

	  </ul>
	</div>

      </div>
	
      <div class="btm-part" style="text-align:center;">			
		<ul class="nav nav-pills" id="nuipill">
			<h1>Description</h1>
		  <li class="active"><!--a data-toggle="tab" href="#desc"></a-->
		  </li>
		  <!--
		  <li><a data-toggle="tab" href="#feat">Features</a></li>
		  <li><a data-toggle="tab" href="#ship">Shipping</a></li>
		  -->
		</ul>

		<div class="tab-content" id="nui-tab-content">
		  <div id="desc" class="tab-pane fade in active">

		  	<img class="des-img" src="{{item.description}}">
		  </div>
		  <!--
		  <div id="feat" class="tab-pane fade">
		    <h3>Features</h3>
		    <p>Some content in menu 1.</p>
		  </div>
		  <div id="ship" class="tab-pane fade">
		    <h3>Shipping</h3>
		    <p>Some content in menu 2.</p>
		  </div>
		  -->
		</div>
	</div>	
      </div>
	
</div>
{% endblock %}

{% block script %}
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
	$(window).load(function() {
	  $('.flexslider').flexslider({
	    animation: "slide"
	  });
	});
	
{% endblock %}
