<html>
<head>

    <script type="text/javascript" src=" https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<style>
body {
    background-color: black;
}
h1{
    color:#990000;
    font-family:Impact;
    font-size:100px;
    font-weight:100;
    
}
.box{
    background-color: #404040 ;
    width: 350px;
    height: 500px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.box1{
    background-color: #404040 ;
    width: 350px;
    height: 500px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.box2{
    background-color: #404040 ;
    width: 350px;
    height: 500px;
    display: inline-block;
    position:absolute;
    left:400;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.box3{
    background-color: #404040 ;
    width: 350px;
    height: 500px;
    display: inline-block;
    position: absolute;
    left:800;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.box-product-name{
    position: relative;
    left: 10px;
    top: 10px;
    color: white;
    font-family: Impact; 
    font-size: 40px;
    font-weight: 100;
}
.box-product-price{
    position: relative;
    left: 215px;
    top: 20px;
    color: red;
    font-family:Impact;
    font-size:30px;
    font-weight:100;
    /*word-spacing: 30px;*/
}
cart{
    position: relative;
    top:100px;
    left:220px;
   /* font-family:impact;*/
}
.status{
    color:#009933;
    position: relative;
    font-size:20px;
    top:15px;
    left:20px;
}


.img-product-item {
    width:350px;
    height:300px;
}

</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">.BANK</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Product</a></li>
        <li><a href="#">Contact us</a></li> 
      </ul>
    </div>
  </div>
</nav>
<h1 align="center">-PRODUCT-</h1>

{% if list %}
    {% for item in list %}

        <div class="box" >
            <img class="img-product-item" src="{{item.main_image}}">
                <div class="box-product-name"> {{item.name}}</div>
                    <cart type="button" class="btn btn-success">add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></cart>
                    <div class="box-product-price">$  {{item.price}}</div>
                    <div class="status">Now Available</div>
        </div>

    {% endfor %}
{% else %}
    <p>No Thing Here</p>
{% endif %}


</body>
</html>
