{% if list %}
    {% for item in list %}
        <div class="box" >
            <img class="img-product-item " src="{{item.main_image}}" onclick="window.location.href = '/product/{{ item.id }}/';">
                <a class="box-product-name"href="/product/{{ item.id }}/"> {{item.name|truncatechars:14}}</a>
                    <div class="status">{{item.brand.name }}</div>
                    <div class="box-product-price">฿  {{item.price}}</div>

                    {% if item.stock > 0 %}
                         <button type="button" class="xxx cart-button btn btn-success"onclick="add_to_cart({{item.id}})" >Add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></button>
                     {% else %}
                        <cart class="xxx cart-button btn btn-danger">Out of Stock</cart>
                     {% endif %} 
                    
        </div>

    {% endfor %}
{% else %}
    <h2>No Thing Here</h2>
{% endif %}
