{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.75">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-submenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/boom.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-submenu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

    <style type="text/css">
        body
        {
            background-color: #EDEDED;
            /*background-color: black;*/

            min-width:1155px; /* suppose you want minimun width of 1000px */
        }

        .navbar
        {
            background-color: #000000;
            //border-color: #00cc00;
            box-shadow: 0 0 30px black;
            border: 0px;
        }


        *
        {
            font-family:Ubuntu;
        }
        .navbar-default .navbar-nav > li > a
        {
            color:white;
            font-size: 1.2em;
        }
        .dropdown
        {
            display: inline-block;
        }
        form
        {
            display: inline;
        }
          /*-- change navbar dropdown color --*/
        .main-content
        {
            padding-top: 50px;
            padding-bottom: 100px;
            width: 100%;
            text-align: center;
        }

        h1,h2{
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
        }

        .navbar{

        }

        li.dropdown{
            margin: 0px;
        }


    </style>
    


    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" rel="home" href="/" title="Gaming Gear with KhunBank care">
            <img style="max-height:50px; margin-top: -7px;"src="{% static 'image/logo_s.png' %}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <li><a href="/" style="padding:8px; top:5px;"><p style="font-size:25px;">Bank</p></a></li>

            <li class="dropdown">
                <a href="/product/list" class="dropdown-toggle" data-hover="dropdown">Product <span class="caret"></span></a>
                <ul class="dropdown-menu" id="cat-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                    {% for c,brand in cat %}
                        <li role="presentation" class="dropdown-submenu">
                            <a role="menuitem" tabindex="-1" href="/product/list/?Category={{c.name}}">{{c.name}}</a>
                            <ul class="dropdown-menu">
                                {% for b in brand %}
                                    <li><a tabindex="-1" href="/product/list/?Category={{c.name}}&Brand={{b.name}}">{{b.name}}</a></li>
                                
                                {% empty %}
                                    <li><a tabindex="-1" href="#">Nothing Here</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                                       
                </ul>
            </li>


          </ul>
          <form class="navbar-form navbar-left" role="search" action="/product/list">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id="query" name="Search" value="">
            </div>
            <button id="search-button" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>


          <ul class="nav navbar-nav navbar-right">
          

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown" aria-expanded="true">
                Information
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">FAQ</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Shipping Cost</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Contact Us</a>
                    </li>
                </ul>                        
            </li>
            

            <li class="dropdown">
                <a href="#" class="dropdown-toggle"id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="cart-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                    
                </ul>                        
            </li>


            {% if user and not user.is_anonymous %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown" aria-expanded="true">
                {% if request.user.is_staff %}
                    STAFF
                {% else %}
                    USER    
                {% endif %}
                
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    
                    {% if not request.user.is_staff %}
                         <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/member">Member Info</a>
                        </li>
                    {% endif %}
                   
                    {% if request.user.is_staff %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/pos">POS</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/history">History</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/logout">Logout</a>
                    </li>
                    
                </ul>                        
            </li>

            {% else %}
            <li class="dropdown">
                    <a href="{% url 'social:begin' 'facebook' %}" >LOGIN</a>
            </li>
            {% endif %}


          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>    
    <script>

    
        {% block script %}{% endblock %}
        $('.dropdown-submenu > a').submenupicker();
        $('.js-activated').dropdownHover().dropdown();

        send_cart()
    </script>
</html>