{% if cart %}
	
	{% for q,item in cart %}
	    <li role="presentation">
	        <a role="menuitem" tabindex="-1" href="#">
	        	{{q}} ea : {{item.name}} ฿{{item.price}} 
		        <button onclick="add_to_cart({{item.id}})">+</button>
		        <button onclick="del_item_cart({{item.id}})">-</button>
	        </a>

	    </li>
	{% endfor %}

	<li class="divider"></li>
	<li role="presentation" style="text-align: center;">
        <a role="menuitem" tabindex="-1" href="#">
        	total : {{ total }}
        </a>

    </li>
	<li role="presentation">

		 <a role="menuitem" tabindex="-1" href="#">

			 <button type="button" class="btn btn-info"	 onclick="checkout()">Check Out</button>
			 <button type="button" class="btn btn-danger"	 onclick="clear_cart()">Delete Cart</button>
		 </a>
	</li>

{% else %}
	<li role="presentation">
	        <a role="menuitem" tabindex="-1" href="#">Nothing Here</a>
	</li>
{% endif %}