{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block extra_head %}
	<style type="text/css">

		th,td {
	   		text-align: center;   
		}

		.modal-dialog{
			text-align: left;
		}

		.order-table{
			padding-top: 50px;
		}

	</style>
	
{% endblock %}
{% block content %}
	<h1>Order</h1>
	<h2>{{o.status}}</h2>
	<div class="container order-table">
		<table class="table table-hover">
			  <tr>
			  	<th>#</th>
			    <th>Product</th> 
			    <th>Brand</th>
			    <th>Quantity</th>
			    <th>Price</th>
			    <th>Total</th>
			  </tr>
			  {% for o_i in ol %}
			  <tr>
			  	<td>{{ forloop.counter0 }}</td>

			    <td>{{o_i.pid.name}}</td>
			    <td>{{o_i.pid.brand.name}}</td>
			    <td>{{o_i.quantity}}</td>
			    <td>{{o_i.pid.price}}</td>
			    <td>{{o_i.price}}</td>

			  </tr>
			  {% endfor %}
			  <tr>
			  	<td></td>
			    <td></td>
			    <td></td>
			    <td></td>

			    <td>{{ o.total_price }}</td>

			  </tr>
		</table>

		<p>{{A.first_name}} {{A.surname}}</p>
		<p>{{A.address}}</p>
		<p>{{A.address_extra}}</p>
		<p>{{A.province}}</p>
		<p>{{A.zip_code}}</p>
		<p>{{A.phone_number}}</p>



	</div>

{% endblock %}

{% block script %}
	var pay = function(id)
	{
		$.get("/pay",{'id':id},function(resp) {alert(resp)});
	}
{% endblock %}