{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block extra_head %}
	<style type="text/css">

		th,td {
	   		text-align: center;   
		}

		.modal-dialog{
			text-align: left;
		}

		.order-table{
			padding-top: 50px;
		}

	</style>
	
{% endblock %}
{% block content %}
	<h1>History</h1>
	<div class="container order-table">
		<table class="table table-hover">
			  <tr>
			  	<th>#</th>
			    <th>Order</th>
			    <th>Status</th> 
			    <th></th>
			  </tr>
			  {% for order in orders %}
			  <tr>
			    <td><a href="/order/?id={{order.id}}">{{order.id}}</td>
			    <td>{{order.user.address}}</td> 
			    <td>{{order.status}}</td>
			    <td>{% if order.status.name == "In Order" %}
			    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ forloop.counter0 }}">Pay Now</button>

			    		<div class="modal fade" id="exampleModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="exampleModalLabel">Payment</h4>
						      </div>
						      <div class="modal-body">
						        <form>
						          <div class="form-group">
						            <label for="recipient-name" class="control-label">Credit's card no.</label>
						            <input type="text" class="form-control" id="recipient-name">
						            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pay({{order.id}})" >Pay Now</button>
						          </div>
						        </form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
			    	{% endif  %}

			    	{% if order.status.name == "Paid" %}
			    		Paid
			    	{% endif  %}

			    	{% if order.status.name == "Shipped" %}
			    		..
			    	{% endif  %}
			    	</td>
			  </tr>
			  {% endfor %}
		</table>

	</div>

{% endblock %}

{% block script %}
	var pay = function(id)
	{
		$.get("/pay",{'id':id},function(resp) {alert(resp)});
	}
{% endblock %}