{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}

	
		<h1> Gaming Gear with KhunBank care </h1>
	    <div id="box-1" class="box-container" ></div>

	    <h1> MOUSE ONLY </h1>
	    <div id="box-2" class="box-container" ></div>


{% endblock %}

{% block script %}
	load("/product/box","#box-1")
	load("/product/box","#box-2",{Category:"Mouse"})
{% endblock %}
