{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}

	<container id="main-content">
		<h1> {{ text }} </h1>
	    <div id="box-1" class="box-container" >
	    	{% if list %}
			    {% for item in list %}
			        <div class="box" >
			            <img class="img-product-item" src="{{item.main_image}}">
			                <a class="box-product-name"href="/product/{{ item.id }}/"> {{item.name}}</a>
			                    <div class="status">Now Available</div>
			                    <div class="box-product-price">$  {{item.price}}</div>
			                    <cart type="button" class="xxx" onclick="add_to_cart({{item.id}})" >add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></cart>
					    <buy type="button" class="xxx">Buy now</buy>
			        </div>
			    {% endfor %}
			{% else %}
			    <p>No Thing Here</p>
			{% endif %}
	    </div>

	</container>

{% endblock %}

{% block script %}
	send_cart()
{% endblock %}
