{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}MAP SHOP{% endblock %}
{% block extra_head %}
	<style type="text/css">
		th {
		   		text-align: center;   
			}
		.form-table{
			padding-left: 20% 100px 20% 0;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container">
		<h1>Shipping Address</h1>
			    
		<form action="/member/" method="post" style="text-align:center;">
		    {% csrf_token %}
		    <div class="input-group" style="width:700px;margin:auto;">
		    	<table class="table">
			    	{{ form.as_table }}
			    </table>
				<div class="form-group">
		                    <div>
		                        <input type="submit" class="btn btn-primary" value="Submit" />
		                    </div>
		        </div>
		    </div>
		</form>
	</div>


{% endblock %}

{% block script %}
{% endblock %}
