{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Search{% endblock %}
{% block extra_head %}
	<style type="text/css">

		th,td {
	   		text-align: center;   
		}

		.modal-dialog{
			text-align: left;
		}

		.order-table{
			padding-top: 50px;
		}


	</style>
	
	{{ form.media }}
{% endblock %}
{% block content %}
	
	<div class="container">
		<h1>POS</h1>

		<div class="container">
			<form action="#" method="post">
			    {% csrf_token %}
			    <div class="input-group" style="width:320px;margin:auto;">
			    	<table class="table">
				    	{{ form.as_table }}
				    </table>
					<div class="form-group">
			                    <div>
			                        <input type="submit" class="btn btn-primary" value="Submit" />
			                    </div>
			        </div>
			    </div>
			</form>
		</div>

		<table class="table table-hover">
			  <tr>
			  	<th>#</th>
			  	<th>Date</th>
			  	<th>User</th>
			    <th>Order</th>
			    <th>$$$</th>
			    <th>Status</th> 
			    
			  </tr>
			  {% for order in orders %}
			  <tr>
			    <td><a href="/order/?id={{order.id}}">{{order.id}}</td>
			    <td>{{order.date}}</td>
			     <td>{{order.user.display_name}}</td> 
			    <td>{{order.user.address}}</td> 
			    <td>{{order.total_price}}</td>
			    <td>{{order.status}}</td>
			    <td>{% if order.status.name == "In Order" %}
			    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ forloop.counter0 }}">Pay Now</button>

			    		<div class="modal fade" id="exampleModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="exampleModalLabel">Payment</h4>
						      </div>
						      <div class="modal-body">
						        <form>
						          <div class="form-group">
						            <label for="recipient-name" class="control-label">Credit's card no.</label>
						            <input type="text" class="form-control" id="recipient-name">
						            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pay({{order.id}})" >Pay Now</button>
						          </div>
						        </form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
			    	{% endif  %}

			    	{% if order.status.name == "Paid" %}
			    		<button type="button" class="btn btn-success" onclick="ship({{order.id}})">Ship</button>
			    	{% endif  %}

			    	{% if order.status.name == "Shipped" %}
			    		Done
			    	{% endif  %}
			    	</td>
			  </tr>
			  
			  {% endfor %}
			  <tr>
			  	<td></td>
			    <td></td>
			    <td></td> 
			    <td>Total</td> 
			    <td>{{total}}</td>
			    <td></td>
			  </tr>
		</table>

	</div>

{% endblock %}

{% block script %}
	var pay = function(id)
	{
		$.get("/pay",{'id':id},function(resp) {alert(resp);});
		
	}
	var ship = function(id)
	{
		$.get("/ship",{'id':id},function(resp) {alert(resp);});
		location.reload();
	}

{% endblock %}